*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero{
    position: absolute;
    width: 500px;
    top: 15%;
    left: 55%;
    transform: translate(-50%, -50%);
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(background1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

h1{
    color: white;
}

.main-nav{
    list-style: none;
    float: right;
}